/* Resetting default browser styles */
body, h1, h5, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: hsl(0, 78%, 93%); /* Light gray background */
    color: #333;
    line-height: 1.6;
}

/* Header styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
    color: #007bff; /* Blue color */
}

h1:hover {
    color: #0056b3; /* Darker blue color on hover */
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff; /* Blue border color on focus */
}

button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff; /* Blue button background */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue background on hover */
    transform: translateY(-2px);
}

/* Chart container styles */
#chartContainer {
    height: 360px;
    width: 100%;
    transition: height 0.3s ease;
}

#chartContainer:hover {
    height: 380px;
}

/* Container styles */
.container {
    margin-top: 20px;
    padding: 10px;
    background-color: hsl(0, 100%, 97%); /* White background */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Social links styles */
.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
    color: #007bff;
    font-size: 20px;
}

.social-links a:hover {
    color: #0056b3;
}

.logo-banner img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures the image is centered horizontally */
    margin: 0 auto; /* Centers the image horizontally */
}
